* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
  
 
  
header {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.burger-menu {
    display: none;
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

.nav-item {
    font-weight: 600;
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
}
  
.nav-link:hover {
    transition: 0.7s ease;
    color:dodgerblue;
}

.icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.7s ease;
    font-size: 1.2rem;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    margin-top: 8vh;
}

.info {
    max-width: 500px;
}

.section1 .info h1 {
    color: var(--clr-black);
    text-transform: capitalize;
    font-size: 4rem;
}

.section1 .info p {
    text-align: justify;
    margin-top: 4vh;
}

.section1 .info .inputs {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    position: relative;
}

.section1 .info .inputs input[type=email] {
    border-radius: 40px;
    padding: 15px;
    border: none;
    width: 100%;
    flex: 1;
}

.inputs input[type=submit] {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background-color: #1294b8;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    height: 40px;
}

.inputs input[type=submit]:hover {
    transition: 0.7s ease;
    background-color:dodgerblue;
}

.section1 figure {
    margin-left: 5vw;
    width: 50%;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.features h2 {
    font-weight: 600;
    font-size: 2rem;
}

.subhead {
    margin-top: 15px;
    width: 20%;
    color: grey;
}

.features .cards {
    margin: 100px;
    display: flex;
}

.card {
    background: #1294b8;
    color: white;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.description {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}

