* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
 
/******************First sections*********************/
header {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    min-height: 100vh;
}

.header-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}


.burger-menu {
    display: none;
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

.nav-item {
    font-weight: 600;
    margin: 0 10px;
    transition: 02s linear;
}

.nav-link {
    text-decoration: none;
    color: white;
    
}
  
.nav-item:hover {
    transition: 02s linear;
    transform: scale(1.1);
    text-decoration: underline;

}

.icons{
    display: flex;
    flex-direction: row;
}

.icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s ease;
    font-size: 1.2rem;
}

.icons a:hover {
    transition: 0.3s ease;
    color: black;
}


.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    margin-top: 8vh;
}

.info {
    max-width: 500px;
}

.section1 .info h1 {
    color: black;
    text-transform: capitalize;
    font-size: 4rem;
}

.section1 .info p {
    text-align: justify;
    margin-top: 4vh;
}

.section1 .info .inputs {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    position: relative;
}

.section1 .info .inputs input[type=email] {
    border-radius: 40px;
    padding: 15px;
    border: none;
    width: 100%;
    flex: 1;
}

.inputs input[type=submit] {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background-color: #1294b8;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    height: 40px;
}

.inputs input[type=submit]:hover {
    transition: 0.7s ease;
    background-color:dodgerblue;
}

.home-image{
    background-image: url(./illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 60vh;
    margin-left: 5vw;
}


/*************Second section**********************/
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.features h2 {
    font-weight: 600;
    font-size: 2rem;
}

.subhead {
    margin-top: 15px;
    width: 35%;
    color: grey;
}

.features .cards {
    margin: 100px;
    display: flex;
}

.card {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    color: white;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    transition: 0.3s ease;
}

.card:hover{
    transition: 0.3s ease;
    transform: translateY(-15px);

}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.description {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    
}

/**********************third section*******************************/
.work{
    background: #DCDCDC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work h2 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.work p {
    margin-top: 15px;
    width: 35%;
    text-align: center;
    color: grey;
}

.work-content{
    padding: 8vh 0 8vh 10vw;
}

.work-desc{
    display: flex;
    justify-content: space-around;
    align-items: center; 

}

.work-image1{
    width: 29vw;
    height: 32vh;
    background-image: url(./img/Work1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.work-image2 {
    width: 33vw;
    height: 32vh;
    background-image: url(./img/Work2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.work-image3 {
    width: 29vw;
    height: 32vh;
    background-image: url(./img/Work3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
 



.dot{
    width: 18px;
    height: 11px;
    background-color: #1081a0cd;
    border-radius: 80%;
    margin-right: 15px;
}

.illustration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
   
}

.illustration p {
    width: 70%;
    margin-top: 15px;
    text-align: justify;
}

.titre{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/***************************fourth section****************************************/
.teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.teams h2 {
    width: 35%;
    font-weight: 600;
    font-size: 2rem;
}

.header-desc {
    margin-top: 10px;
    width: 40%;
    color: grey;
}


.infos h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.infos p {
    margin: 0;
    width: auto;
    color: grey;
    font-size: 0.9rem;
}

.employee {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.infos-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.infos-desc {
    margin: 0;
    width: auto;
    color: grey;
    font-size: 0.8rem;
}

.about {
    margin-bottom: 30px;
}

.img {
    position: relative;
    width: 12vmax;
    height: 12vmax;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}

.socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 04s ease-in-out;
}

.socials a {
    text-decoration: none;
    color: black;
    background-color: white;
    margin-top: 0.2em;
    border-radius: 50%;
    font-size: 1em;
    transition: 02s linear;
    padding: 8px;
}

.socials a:hover {
    transition: 02s linear;
    color:#1294b8;
}

.img:hover .socials {
    transition: all 0.2s ease-in;
    transform: translateX(50%) translateY(50%);
    opacity: 1;
}

.img img {
    width: 100%;
    filter: grayscale(1);
    transition: 02s linear;
}

.img img:hover {
    transition: 02s linear;
    transform: scale(1.1);
    filter: grayscale(0);
}

.job {
    font-size: 0.8rem;
    color: grey;
}

/****************fifth section*************************/
.parallax {
    background-image: url(./img/parallax.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0)
}

.parallax::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.6);
    z-index: -1;
    
  }

.parallax h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    z-index: 1;
}

.parallax p{
    margin-top: 20px;
    width: 45%;
    color: #F0F0F0;
    z-index: 1;
}

.started{
    margin-top: 20px;
    border-radius: 0.3em;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    padding: 1em 2.5em;
    transition: 01s ease-in-out;
    z-index: 1;
}

.started:hover{
    background-color: #F0F0F0;
    color: black;
    transition: 01s ease-in-out;
    transform: translateY(-2px);
    font-weight: 500;
}

/***********************Sixth section**************************/

.blogs {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blogs h3{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
}
.blogs p {
    margin-top: 10px;
    color: grey;
}
.blog {
    display: flex;
    justify-content: space-around;
}
.articles {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 5vh;
}
.content {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 98%;
    transition: 04s ease-in-out;
}

.content img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    transition: 04s ease-in-out;
}

.onImage {
    position: absolute;
    display: flex;
    top: 5%;
    left: 5%;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: 04s ease-in-out;
}
.onImage span{
    color: white;
    font-size: 1.2rem;
    width: auto;
}

.content:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 02s ease-in-out;
}

.content:hover .onImage {
    transition: 02s ease-in-out;
    opacity: 1;
}
.articles h4 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}
.articles p {
    width: auto;
    text-align: start;
}
.articles a {
    margin-top: 10px;
    text-decoration: none;
    color: #0d7794;
    font-weight: bold;
}

.articles a:hover {
    text-decoration: underline;
    
}


/******************Seventh section******************/

.pricing{
    background: #DCDCDC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing h3 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.pricing-p{
    padding: 30px;
    width: 65%;
    color: grey;
}

.colContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 21px;

}
.col{
    width: 400px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;

}


.label{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.priceTag{
    text-align: center;
}


.symbol{
    font-size: 34px;
    color: rgb(65, 124, 233);
    position:relative;
    top:-36px;
}

.amount{
    font-size: 84px;
    color: rgb(65, 124, 233);
}

.time {
    color: grey;
    font-size: 15px;
    font-weight: 600;
}


.pricingFeatures{
    margin-top: 20px;
}

.feature{
    font-size: 17px;
    margin: 15px 40px;
    text-align: left;
}

.feature span{
    float: right;
}

.feature i{
    padding-right: 5px;
}


.priceButton{
    border: 2px solid rgb(65, 124, 233) ;
    color: white;
    background-color:rgb(65, 124, 233);
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: block;
	padding: 10px;
    margin: 30px 40px;
}

.advanced{
    position: relative;
}


.advanced .sale{
    position: absolute;
    right: 0px;
    top: -30px;
    border: 2px solid rgb(57, 106, 197) ;
    background-color:rgb(57, 106, 197) ;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70px;
    height: 70px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col:hover{
    transform: translateY(-30px);
    transition: all .5s ease-in-out;
}

/***********Footer*************/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26272B;
    width: 100%;
    height: 200px;
}

.fa-ikon {
    display: flex;
    width: max-content;
}

.ikons {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border: 2px solid #5F6064;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 02s linear;
}

.ikons i {
    color: #5F6064;
    transition: 02s linear;
}
.ikons:hover {
    transition: 02s linear;
    background-color: rgb(57, 106, 197);
}

.ikons:hover i {
    color: white;
}

.condition {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.intem {
    margin: 0 20px;
    color: #fff;
}

.condition a {
    text-decoration: none;
    color: #5F6064;
}

.condition a:hover {
    
    color:  rgb(57, 106, 197);
}

.copyright {
    margin-top: 20px;
    color: #5F6064;
}

/********************************SECTION SCROLL UP *******************************************/

.scrollTop{
    position: fixed;
    bottom: 30px;
    right:30px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover{
    background-color: #f7f7f7;
    color: #000;
}
  
  


